.confirm-delete {
    position: absolute;
    background-color: white;
    padding: 100px;
    border: lightgray solid;
    border-radius: 50px;
    z-index: 3;
    font-weight: bold;
}

.confirm-delete .buttons {
    position: relative;
    text-align: center;
    width: 100%;
    padding-top: 80px;
}

.confirm-delete .buttons .button {
    padding: 10px;
    margin: 20px;
    border: none;
    border-radius: 5px;
    color: white;
}

.confirm-delete .buttons .button-yes {
    background-color: #00ca3b;
}

.confirm-delete .buttons .button-yes:hover {
    background-color: #14b944;
}

.confirm-delete .buttons .button-no {
    background-color: #e71b22;
}

.confirm-delete .buttons .button-no:hover {
    background-color: #ce1e24;
}