.grid-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "Logo Logo Header Header Header Header Header Header Header Header Header" "Logo Logo Header Header Header Header Header Header Header Header Header" "NavBar NavBar Body Body Body Body Body Body Body Body Body" "NavBar NavBar Body Body Body Body Body Body Body Body Body" "NavBar NavBar Body Body Body Body Body Body Body Body Body" "NavBar NavBar Body Body Body Body Body Body Body Body Body" "NavBar NavBar Body Body Body Body Body Body Body Body Body" "NavBar NavBar Body Body Body Body Body Body Body Body Body" "NavBar NavBar Body Body Body Body Body Body Body Body Body" "NavBar NavBar Body Body Body Body Body Body Body Body Body" "NavBar NavBar Body Body Body Body Body Body Body Body Body";
    grid-template-areas: "Logo Logo Header Header Header Header Header Header Header Header Header" "Logo Logo Header Header Header Header Header Header Header Header Header" "NavBar NavBar Body Body Body Body Body Body Body Body Body" "NavBar NavBar Body Body Body Body Body Body Body Body Body" "NavBar NavBar Body Body Body Body Body Body Body Body Body" "NavBar NavBar Body Body Body Body Body Body Body Body Body" "NavBar NavBar Body Body Body Body Body Body Body Body Body" "NavBar NavBar Body Body Body Body Body Body Body Body Body" "NavBar NavBar Body Body Body Body Body Body Body Body Body" "NavBar NavBar Body Body Body Body Body Body Body Body Body" "NavBar NavBar Body Body Body Body Body Body Body Body Body";

}

.Logo {
    grid-area: Logo;
    background: #ffffff;
    z-index: 1;
}

.Logo > img {
    background: no-repeat;
    background-size: contain;
    /* height: 60%; */
    width: 100%;
}

.NavBar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "." "." "." "." "." "." "." "." ".";
    grid-area: NavBar;
    background-color: #00437f;
}

.NavBar div button{
    width: 100%;
    height: 100%;
    background-color: #00437f;
    color: aliceblue;
    border: none; /* black solid 1px; */
    cursor: pointer;
}

.NavBar div button:hover {
    background-color: rgb(0, 91, 189);
}

.Header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: ". . . . . . . Logout" ". . . . . . . Logout";
    grid-area: Header;
    background: #ffffff
}

.Logout {
    grid-area: Logout;
}

.Logout > button {
    height: 100%;
    width: 100%;
    color: #020273;
    background: transparent;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.Body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* grid-gap: 5px; */
    grid-area: Body;
    background: #4D5057;
}

.Card {
    /* border-radius: 20px;  */
    margin-top: 10px;
    margin-left: 10px;
    background: #FFEAEE;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: ". . ." ". Pic ." ". Pic ." "Info Info Info" "Info Info Info" "Info Info Info" "SeeMore SeeMore SeeMore";
}

.Pic {
    grid-area: Pic;
}

.Pic > img {
    max-height: 100%;
    max-width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.Info {
    text-align: center;
    grid-area: Info;
}

.SeeMore {
    grid-area: SeeMore;
    text-align: center;
}

.SeeMore > button {
    border-radius: 5px;
    font-size: 14px;
    padding: 3px;
}
